
:root {
  --ifm-color-primary: #9c26b0;
  --ifm-color-primary-dark: #8c229e;
  --ifm-color-primary-darker: #852096;
  --ifm-color-primary-darkest: #6d1b7b;
  --ifm-color-primary-light: #ac2ac2;
  --ifm-color-primary-lighter: #b32cca;
  --ifm-color-primary-lightest: #c040d6;
  --ifm-code-font-size: 95%;
}

.navbar__logo {
  height: 1.5rem;
  margin-bottom: 5px;
  margin-right: 0;
}

.token-line.theme-code-block-highlighted-line {
  background-color: #2f343d;
}

.word-wrap code {
  white-space: pre-wrap !important;
  overflow-wrap: anywhere !important;
}
